<h1>Mensualidades del último año</h1>

<table>
  <tr>
    <th>Mes</th>
    <th>año</th>
    <th>vendido</th>
  </tr>
  <% @monthlies.each do |monthly| %>
    <tr>
      <td><%= monthly.month %></td>
      <td><%= monthly.year %></td>
      <td><%= number_to_currency(monthly.sold) %></td>
    </tr>
  <% end %>
</table>

