<table class="payments_for_client">
  <tr><th colspan="3"> Pagos </th></tr>
  <tr>
    <th>Fecha</th>
    <th>Monto</th>
    <th>Deuda</th>
  </tr>
  <% @client_payments.each do |payments| %>
    <tr>
      <td><%= l payments.created_at, format: :little %></td>
      <td><%= number_to_currency payments.deposit %></td>
      <td><%= number_to_currency payments.debt_rest %></td>
    </tr>
  <% end %>
  <% if @client_payments.count > 5 %>
    <tr><td colspan="3"><%= will_paginate(@client_payments) %></td></tr>
  <% end %>
</table>
