.tables_for_client {
  position: absolute;
  top: 5em;
  left: 35em;   
  td {
    border: 1.5px solid grey;
  }
}
.ui-autocomplete {
  small {
    display: block;
    font-size: .75em;
    color: #999999;
  }
}
.top_menu {
    text-align: center;
    font: 120% bold;
}

.cart {
    float: right;
}

.store {
    float: left;
}

.order_cart {
    float: right;
}

.order_form {
    float: left;
}

div#notice {
  position: fixed;
  bottom: .5em;
  left: 3em;
  right: 3em;
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  padding: .75em 1em;
  text-shadow: 0px 0px 1px #ccc;
  opacity: .5;
  background-color: #feb968;
  border: 4px solid black;
  
  .close {
    position: absolute;
    top: .5em;
    right: 1em;
    font-size: .6em;
    font-weight: normal;
    border: 2px solid #464646;
    
    a {
      background: inherit;
      color: #464646;
      text-decoration: none;
      font-size: 1.2em;
      font-weight: 600;
      padding: 1px 5px;
    }
  }
}



